@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Inter:wght@300;400;500;600;700&family=Khand:wght@400;500;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {

  font-size: 100%;

}

.cabecalho {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
  gap: 300px;
  background: radial-gradient(42.87% 81.1% at 76.49% 55.08%, #F88747 0%, #3A0A04 100%);
}

.cabecalho-menu {
  display: flex;
  gap: 42px;

}

.cabecalho-imagem {
  height: 72px;

}

.cabecalho-menu-item {
  font-family: 'Sarala', sans-serif;
  color: #FFF2E7;
  font-weight: 400;
  font-size: 18px
}
.conteudo {
  margin-bottom: 48px;
  border-top: 0.1px solid #FFF2E7;
}
.conteudo-inicial {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: radial-gradient(42.87% 81.1% at 76.49% 55.08%, #F88747 0%, #3A0A04 100%);
}
.conteudo-inicial-descricao {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.conteudo-inicial-escrito-titulo{
  position: absolute;
  width: 742px;
  height: 162px;
  left: 76px;
  top: 200px;

  font-family: 'Bevan';
  font-style: normal;
  font-weight: 300;
  font-size: 90px;
  line-height: 162px;
  color: #FFFF;
}

.conteudo-inicial-escrito-subtitulo{
  position: absolute;
  width: 689px;
  height: 74px;
  left: 77px;
  top: 320px;

  font-family: 'Bevan';
  font-style: italic;
  font-weight: 90;
  font-size: 30px;
  line-height: 74px;
  color: #FFFF;

}
