@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Inter:wght@300;400;500;600;700&family=Khand:wght@400;500;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

}

body {

  font-size: 100%;

}

.cabecalho {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
  gap: 300px;
  background: radial-gradient(42.87% 81.1% at 76.49% 55.08%, #F88747 0%, #3A0A04 100%);
}

.cabecalho-menu {
  display: flex;
  gap: 42px;

}

.cabecalho-imagem {
  height: 72px;

}

.cabecalho-menu-item {
  font-family: 'Sarala', sans-serif;
  color: #FFF2E7;
  font-weight: 400;
  font-size: 18px
}

.conteudo {
  margin-bottom: 48px;
  border-top: 0.1px solid #FFF2E7;
}

.conteudo-inicial {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: radial-gradient(42.87% 81.1% at 76.49% 55.08%, #F88747 0%, #3A0A04 100%);
}

.conteudo-inicial-descricao {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background: radial-gradient(42.87% 81.1% at 76.49% 55.08%, #F88747 0%, #3A0A04 100%);
}

.conteudo-inicial-escrito-titulo {
  position: absolute;
  width: 742px;
  height: 162px;
  left: 76px;
  top: 200px;

  font-family: 'Bevan';
  font-style: normal;
  font-weight: 300;
  font-size: 90px;
  line-height: 162px;
  color: #FFFF;
}

.conteudo-inicial-escrito-subtitulo {
  position: absolute;
  width: 689px;
  height: 74px;
  left: 77px;
  top: 320px;

  font-family: 'Bevan';
  font-style: italic;
  font-weight: 90;
  font-size: 30px;
  line-height: 74px;
  color: #FFFF;

}

.conteudo-inicial-botao {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 56px;
  gap: 10px;

  position: absolute;
  width: 215px;
  height: 56px;
  left: 78px;
  top: 435px;

  background-color: #F8D147;
  border-radius: 28px;


}

.texto-botao-inicial {
  color: black;
  font-family: 'Bevan';
  font-size: 19px;
  line-height: 26px;
  font-weight: 200;
  font-size: normal;
  align-items: center;
  width: 103px;
  height: 26px;

}

.conteudo-inicial-botao:hover {
  background-color: rgba(236, 214, 196, 0.53);
}

.conteudo-inicial-imagem {

  position: relative;
  width: 496px;
  height: 600px;
  left: 142px;
  top: 50px;
}

.cards-produtos-destaques {
  background-color: white;
  position: relative;
  width: 185px;
  height: 354px;
  top: 90px;
}

.card-destaque1 {
  position: relative;
  text-transform: uppercase;
  color: white;
  font-family: 'Khand';
  font-style: normal;
}

.imagem-card1 {
  position: absolute;
  width: 646px;
  height: 300px;
  left: 56px;

}

.card-destaque-titulo1 {
  position: absolute;
  width: 128px;
  height: 28px;
  left: 86px;
  top: 20px;

  font-weight: 600;
  font-size: 18px;
  line-height: 28px;

}

.card-destaque-subtitulo1 {
  position: absolute;
  width: 492px;
  height: 49px;
  left: 86px;
  top: 40px;


  font-weight: 600;
  font-size: 32px;
  line-height: 49px;


}

.card-destaque2 {
  position: relative;
  position: relative;
  text-transform: uppercase;
  color: white;
  font-family: 'Khand';
  font-style: normal;

}

.imagem-card2 {
  position: absolute;
  width: 525px;
  height: 145px;
  left: 750px;
  border-radius: 16px;

}

.card-destaque-titulo2 {
  position: absolute;
  width: 1168px;
  height: 28px;
  left: 770px;
  top: 14px;


  font-weight: 600;
  font-size: 18px;
  line-height: 28px;

}

.card-destaque-subtitulo2 {
  position: absolute;
  width: 1257px;
  height: 49px;
  left: 770px;
  top: 35px;


  font-weight: 600;
  font-size: 32px;
  line-height: 49px;


}

.card-destaque3 {
  position: relative;
  color: white;
  font-family: 'Khand';
  font-style: normal;
  text-transform: uppercase;

}

.imagem-card3 {
  position: absolute;
  width: 525px;
  height: 145px;
  left: 750px;
  border-radius: 16px;
  top: 155px;

}

.card-destaque-titulo3 {
  position: absolute;
  width: 1168px;
  height: 28px;
  left: 770px;
  top: 168px;

  font-weight: 600;
  font-size: 18px;
  line-height: 28px;



}

.card-destaque-subtitulo3 {

  position: absolute;
  width: 1257px;
  height: 49px;
  left: 770px;
  top: 188px;


  font-weight: 600;
  font-size: 32px;
  line-height: 49px;



}

.menu-produtos {
  background-color: white;

}

.menu-produtos-titulo {

  position: absolute;
  width: 504px;
  height: 74px;
  left: 485px;
  top: 1210px;

  font-family: 'Bevan';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 74px;

  text-align: center;
  text-transform: uppercase;

  color: #3A0A04;


}

.menu-produtos-subtitulo {

  position: absolute;
  width: 832px;
  height: 37px;
  left: 311px;
  top: 1280px;

  font-family: 'Khand';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 37px;


  text-align: center;
  text-transform: capitalize;


  color: #232329;
}

.menucard-produto {

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 33px;

  position: absolute;
  width: 416px;
  height: 658px;
  left: 12px;
  top: 1403px;
}
.menucard-produto2{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 33px;

  position: absolute;
  width: 416px;
  height: 658px;
  left: 480px;
  top: 1403px;

}
.menucard-produto3{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 33px;

  position: absolute;
  width: 416px;
  height: 658px;
  left: 920px;
  top: 1403px;

}

.menucard-produto-imagem {
  width: 309px;
  height: 280px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.menucard-produto-titulo {

  width: 176px;
  height: 30px;

  font-family: 'Khand';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #232329;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.menucard-produto-subtitulo {
  width: 220px;
  height: 150px;

  font-family: 'Khand';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  

  color: #232329;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.menucard-produto-botao {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 56px;
  gap: 50px;

  width: 215px;
  height: 56px;

  background: #C92B1E;
  border-radius: 18px;
  flex: none;
  order: 2;
  flex-grow: 0;
}
.menucard-produto-botao-texto{
  
width: 103px;
height: 26px;

font-family: 'Bevan';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;

color: #FFFFFF;

flex: none;
order: 0;
flex-grow: 0;
}
.menucard-produto-botao:hover{
  background-color: rgba(236, 214, 196, 0.53);

}




.menu-sobrenos {
  background: white;
}

.menu-sobrenos-caixa {}

.menu-sobrenos-titulo {

position: absolute;
width: 417px;
height: 74px;
left: 71px;
top: 2381px;

font-family: 'Bevan';
font-style: normal;
font-weight: 400;
font-size: 38px;
line-height: 74px;


text-align: center;
text-transform: uppercase;

color: #3A0A04;
}

.menu-sobrenos-texto {
  position: absolute;
width: 637px;
height: 261px;
left: 71px;
top: 2479px;

font-family: 'Khand';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 37px;

color: #232329;
}

.menu-sobrenos-imagem {
  position: absolute;
width: 636px;
height: 444px;
left: 732px;
top: 2396px;
}

.reservar-mesa {}

.reservar-mesa-titulo {}

.reservar-mesa-subtitulo {}